/* en vrac :
100% 100% 0 $  
 flex  
 width width
*/
* {
    /* change le box model */
    box-sizing: border-box;
    display: flex;
    border
}

img {
    /* image responsive, largeur maxi */
    height: 100%;
    max-width: auto;
    /* hauteur "auto" */

}

.carrousel_parent-ecrans {
    /* aligne horizontalement les enfants */
    display: flex;
    /* largeur du parent */
    width: 100%;
    overflow-x: scroll;
    /* permet de scroller horizontalement */

}

.carrousel_ecran {
    /* largeur du parent pour chaque enfant */
    width: 100%;
    /* permet de garder toute la largeur du parent */
}

.carrousel_ecran figure {
    /* enlève les marges par défaut */
    margin: none;
}